.BaseHud
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.Clip
{
    clip: rect(44px, 800px, 200px,0px);
    horizontal-align: right;
    width: 800px;
    height: 200px;
}

#health_bar
{
    height: 60px;
    width: 80%;
    z-index: -1;
    horizontal-align: right;
    background-color: #aaaaaa;
    vertical-align: bottom;
    box-shadow: fill #000000 0px 0px 5px 0px;
}

#TimerMsg
{
    horizontal-align: left;
    background-color: #9e001a;
    height: 60px;
    width: 80%;
    z-index: -1;
}

#mana_bar
{
    horizontal-align: right;
    height: 30px;
    width: 80%;
    background-color: #aaaaaa;
    z-index: -1;
    vertical-align: bottom;
    box-shadow: fill #000000 0px 0px 5px 0px;
}

#ManaMsg
{
    horizontal-align: left;
    background-color: #add8e6;
    height: 30px;
    width: 80%;
    z-index: -1;
}

.HealthHold
{
    width: 640px;
    height: 161px;
    horizontal-align: right;
    background-image: url("file://{resources}/images/custom_game/custom_health_holders.png");
    background-size: 100%;  
    z-index: -1;
}

.TimerBox
{
    width: 400px;
    height: 80px;
    background-image: url("file://{resources}/images/custom_game/custom_timer_bg1.png");
    background-size: 100%;
    horizontal-align: center;
    margin-top: -80px;
    margin-right: -400px;
    z-index: 10;
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

.TimerBox Label
{
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;

}


.FadeIn
{
    transform: translateY(160px);
}